


body.about-page {
    background-color: white;
    height: 100vh;
    width: 100%;
    margin: 0px;
    font-family: "Karla", Helvetica, sans-serif;

    @include desktop {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }    

    main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .img-wrap {

            @include desktop {
                display: flex;
                justify-content: center;
                width: 640px;
                height: auto;
            }

            img {
                max-width: 100%;
                height: 287px;
                object-fit: cover;

                @include desktop {
                    width: 640px;
                    height: auto;
                }
            }
        }

        .about-text {
            display: flex;
            flex-wrap: wrap;
            padding: 10px 40px 40px 40px;

            h1 {
                color: $primary-green;
                margin-top: 10px;
            }

            h2 {
                color: $primary-green;
                margin: 10px 0px 0px 0px;
            }

            h3 {
                color: $primary-green;
                margin: 10px 0px 0px 0px;
            }

            p {
                margin-top: 10px;
            }
        }

        @include desktop {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 640px;
        }
    }

    .staff-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background: $primary-green;
        padding: 0px 0px 0px 0px;
        gap: 20px;

        @include desktop {
            display: flex;
            align-items: center;
            min-width: 100%;
        }  

        .staff-h2 {
            display: flex;
            flex-direction: column;


        }

        h2 {
            color: white;
        }
        
        .staff {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            gap: 20px;

            @include desktop {
                display: flex;
                flex-wrap: wrap;
                margin: 0px 260px;
            }  

            .staff-one, .staff-two, .staff-three, .staff-four, .staff-five, .staff-six {
                background: white;
                padding: 10px;
                width: 200px;
                height: auto;
 
                img {
                    width: 200px;
                    height: 200px;
                }
    
                h3, h4, {
                    margin-top: 10px;
                    color: $primary-green;
                }
    
                p {
                    margin-top: 10px;
                    color: black;
                }
            }

        }
    }
}
    
        



    
