


body.about-page {
    background-color: white;
    height: 100vh;
    width: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

    main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .img-wrap {
            overflow: hidden;

            img {
                width: 430px;
                height: 287px;
            }
        }

        .about-text {
            display: flex;
            flex-wrap: wrap;
            padding: 40px;

            h1 {
                color: $primary-green;
                margin: 0px;
            }

            h2 {
                color: $primary-green;
                margin: 10px 0px 0px 0px;
            }

            p {
                margin: 10px 0px;
            }
        }
    }

    .staff-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background: $primary-green;
        padding: 20px 40px;
        gap: 20px;

        .staff-h2 {
            display: inline;
            justify-content: flex-start;
        }
            h2 {
                color: white;
                text-align: left;
            }
            
    }

        .staff-one, .staff-two, .staff-three, .staff-four, .staff-five, .staff-six {
            background: white;
            padding: 10px;
            width: 220px;

            img {
                width: 200px;
                height: 200px;
            }

            h3, h4, {
                margin-top: 10px;
                color: $primary-green;
            }

            p {
                margin-top: 10px;
                color: black;
            }

        }

 

    }
