footer {
    background-color: #455950;
    color: white;
    width: 100%;
    /* padding: 10px; */
    font-family: "Karla", Helvetica, sans-serif;
}

.fot-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    .fot-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
  
        @media (min-width: 590px) {
            flex-direction: row; 
            justify-content: space-between;
        }


        .fot-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
            margin: 5px;
            list-style: none;
            line-height: 1.5;
            letter-spacing: .1rem;

            @media (min-width: 890px) {
                flex-direction: row;
                justify-content: flex-start; 
                
            }

            a {
                color: white;
                text-decoration: none;
                width: 100%;
                padding: 5px;
                transition: background-color 0.3s ease;
        
                &:hover {
                    
                    background-color: transparent (255, 255, 255, 0.2);
                    border: 2px solid rgb(222, 238, 234);
                    border-radius: 9px;
                    padding: 4px;
                    
                }
            }
        }

        .fot-btn {
            color: #455950;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            margin: 10px;

            .sub-btn{

               padding-top:5px;
               padding-bottom: 5px;
               padding-left: 15px;
               padding-right: 5px;
               



            }

            button {
                width: auto;
                border-radius: 15px; 
                padding-top: 5px; 
                padding-bottom: 5px;
                padding-left: 15px;
                padding-right: 15px;
                margin: 15px;
                letter-spacing: .1rem;
                outline: none;
                border:none ;


            }

            input::placeholder {
                background-color: #455950;
                color: #ffffff; 
                padding: 10px;
                letter-spacing: .1rem;
              


            }

            input {
                background-color: #455950;
                width: auto;
                border-radius: 15px;
                margin-inline-start: 10px;
                padding: 5px;
                outline: white;
                border:white ;
              
                
            
                

            }
            
            @media (min-width: 590px) {
                flex-direction: row;
                justify-content: flex-end; 
            }
        }
    }

    .horizontal-line {
        width: 90%;         
        height: 2px;         
        background-color: white;
        margin: 20px 0;
    }

    .fot-end {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    

    .store {
        margin-top: 10px;
    }

    .copyright {
        color: white;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 15px;
        text-align: center;
    }

    .fotlog img {
        content: url('correct.png');
    }

    @media (max-width: 465px) {
        .fotlog img {
            content: url('partials/media/square_maindful-logo.png'); 
        }
    }
}
