header {
  font-family: Karla;
  // position: fixed;


  .header-container {
    position: relative; //ensure this is relative for absolute positioning inside it
    
  }

  @include desktop {
    width: 100%;
    background-color: #ffffff;
    min-height: 200px;
  }

  @include mobile {
    background-color: #ffffff;
    min-height: 150px;
    max-width: 100%;
  }

  // Logo, img //
  .logo-container {
    display: flex;
    align-self: flex-start;
    left: 20px;

    img {
      @include desktop {
        // position:relative;
        max-width: 100%;
        height: auto;

        max-height: 135px;
        position: absolute;
        z-index: 0;
      }

      @include mobile {
        top: -5px;
        max-width: 90%;
        max-height: 90px;
        // height: 90px;
        position: absolute;
      }
    }
  }


  // SLOGAN //
  .slogan {
    @include mobile {
      position: relative;
      text-align: end;
      top: 56px; // flyttar ner slogan-texten
      right: -30px;

      h2 {
        display: flex;
        justify-content: center;
        font-family: "Scope One";
        font-size: 17px;
        font-style: italic;
      }
    }

    @include desktop {
      width: 70%;
      // position: relative;
      text-align: end;

      h2 {
        position: relative;
        bottom: -75px;
        left: 0;
        font-family: "Scope One";
        // display: flex;
        // justify-content: flex-end;
        // margin-right: 50px;
        padding: 0.5%;
        font-style: italic;
      }
    }
  }

  .center-container {
    min-width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    text-align: right; //påverkar h2
    z-index: 1;

    @include desktop {
      position: absolute;
    }

    @include mobile {}
  }

  .nav-container {
    background-color: $primary-green;
    width: 100%;
    position: relative; //for login-btn to attach to top right corner

    @include mobile {
      max-height: auto;
      display: flex;
      flex-wrap: wrap; // allow items to wrap
      justify-content: space-between;
      top: 40px; // puttar ner gröna nav-menyn litegrann

      .navigation {
        height: auto;
        display: flex;
        flex-wrap: wrap; //allow menu items to wrap

        /* #region */
        // height: 45px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        /* #endregion */

        ul {
          display: flex;
          flex-wrap: wrap; // wrap list items
          justify-content: center;
          list-style: none;
          margin: 10px;
        }

        li {
          margin-right: 10px; //margin between lines
        }

        a {
          text-decoration: none;
          font-weight: 500;
          font-size: 16px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #ffffff;
          padding: 4px;

          &:hover {
            color: #969696;
          }
        }
      }
    }

    @include desktop {
      top: 50px;

      .navigation {
        height: 60px;
        display: flex;
        align-items: center;

        ul {
          list-style: none;
          display: flex;

          li {
            margin: 15px;
          }
        }

        a {
          margin: auto;
          text-decoration: none;
          font-weight: 400;
          font-size: 25px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #ffffff;

          &:hover {
            color: #969696;
          }
        }
      }
    }
  }

  .login-btn {
    //adjust styling as needed
    position: absolute;
    text-transform: uppercase;
    color: $primary-green;

    @include mobile {
      top: 5px;
      right: 5px;
      // max-width:100%;

      text-decoration: none;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 1px;
      border: 1px solid;
      padding: 3px;

      &:hover {
        color: #969696;
      }
    }

    @include desktop {
      top: 5px;
      right: 12%;

      text-decoration: none;
      font-weight: 700;
      font-size: x-large;
      letter-spacing: 3px;
      border: 2px solid;
      padding: 4px;
      color: $primary-green;

      &:hover {
        color: #969696;
      }

      // background-color: transparent;
    }
  }
}

a .active {
  text-decoration: italic;
}