

body.home-page {
    background-color: white;
    height: 100vh;
    width: 100%;
    margin: 0px;
    font-family: "Karla", Arial, Helvetica;

    @include desktop {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    } 

    main {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

            .img-desktop {

                @include desktop {
                    width: 100%;
                    height: 427px;

                    }
            
                .img-wrap {

                    img.responsive {
                        max-width: 100%;
                        height: 427px;
                        object-fit: cover;                        
                        
                        @include desktop {
                        width: 100%;
                        height: 427px;
                        object-fit: cover;
                        }

                    }
                }
            }
            
        .desktop-view {

            @include desktop {
                width: 640px;
                }

            h1 {
                color: $primary-green;
                margin-top: 10px;
            }

            .sell-text {
                margin: 0px 40px;

                p {
                    margin: 10px 0px 0px 0px;
                }
            }

            .vision-text-vip {
                border-left: 10px solid $primary-green;
                border-right: 10px solid $primary-green;
                padding: 20px 40px;
                margin: 40px;
        
                q {
                    color: $primary-green;
                    font-size: larger;
                    font-weight: bold;
                }
        
                p {
                    text-align: end;
                    color: $primary-green;
                    font-style: italic;
                    margin-top: 10px;
                }
            }
        }
    }


    .google-apple-store {
        display: flex;
        justify-content: center;
        gap: 10px;

        img {
            height: 58.5px;
            margin-top: 20px;
        }
    }


    .trial {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0px 20px 0px;


        @include desktop {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 640px;
            margin: 0 px 200px;
        }
    
        h2 {
            color: #455950;
            text-align: center;
            margin: 20px 40px 10px 40px;
        }

        .cta-button {
            background: $primary-green;
            border: 0px;
            color: white;
            padding: 20px;
            border-radius: 8px;
            margin: 10px 40px;
            font-weight: bold;
            font-size: 16px;
        }
    }    

    form {
        justify-content: center;
        margin: 40px 0px;

        @include desktop {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0px 200px;
            max-width: 640px;
        }

      }
      
      .newsletter-container {
        padding: 0px 40px;
        color: $primary-green;

            h2 {
                text-align: center;
                margin: 10px 0px;
            }
      }
      
      input[type=text], input[type=submit] {
        width: 100%;
        padding: 20px 40px;
        margin: 10px 0;
        display: inline-block;
        box-sizing: border-box;
        border-radius: 8px;
      }

      input[type=submit] {
        background-color: $primary-green;
        color: white;
        font-size: 16px;
        font-weight: bold ;
        border: none;
        border-radius: 8px;
      }
      
      input[type=submit]:hover {
        opacity: 0.8;
      }

    aside {

        margin-top: 20px;

        h2 {
            color: $primary-green;
            text-align: center;
        }

        .customer-reviews-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            border: 2px solid $primary-green;
            margin: 20px 100px 40px 100px;
            border-radius: 8px;
            padding: 20px;
            gap: 20px;

            @include desktop {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                max-width: 640px;
            }

            img {
                width: 186px;

                @include desktop {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    max-width: 185px;
                }
            }
        }    
    }

}
