//Colors

$logo-color: #543d15;
$primary-green: #455950;
$accent-color1: #dfdfdf;
$accent-color2: #948444;

//Fonts

.karla-font {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: none;
    font-style: normal;
  }

.scope-one-regular {
  font-family: "Scope One", serif;
  font-weight: 400;
  font-style: normal;
}
  