@charset "UTF-8";
.karla-font {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: none;
  font-style: normal;
}

.scope-one-regular {
  font-family: "Scope One", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  font-family: Karla;
}
header .header-container {
  position: relative;
}
@media (width > 590px) {
  header {
    width: 100%;
    background-color: #ffffff;
    min-height: 200px;
  }
}
@media (590px > width) {
  header {
    background-color: #ffffff;
    min-height: 150px;
    max-width: 100%;
  }
}
header .logo-container {
  left: 20px;
}
@media (width > 590px) {
  header .logo-container img {
    position: absolute;
    max-width: 100%;
    height: auto;
    left: 10%;
    max-height: 120px;
    z-index: 0;
  }
}
@media (590px > width) {
  header .logo-container img {
    top: -5px;
    max-width: 80%;
    max-height: 90px;
    position: absolute;
  }
}
header .slogan {
  z-index: 10;
}
@media (590px > width) {
  header .slogan {
    position: relative;
    top: 55px;
    right: 3px;
  }
  header .slogan h2 {
    display: inline-flex;
    font-family: "Scope One";
    font-style: italic;
    text-wrap: wrap;
    text-align: right;
    font-size: clamp(16px, 4vw, 22px);
  }
}
@media (width > 590px) {
  header .slogan {
    width: 99%;
    text-align: end;
  }
  header .slogan h2 {
    position: relative;
    bottom: -65px;
    left: 0;
    font-family: "Scope One";
    padding: 0.5%;
    font-style: italic;
    text-align: right;
    font-size: clamp(25px, 2vw, 32px);
    padding: 1%;
  }
}
header .center-container {
  min-width: 100%;
  text-align: center;
  z-index: 1;
}
@media (width > 590px) {
  header .center-container {
    position: absolute;
  }
}
header .nav-container {
  background-color: #455950;
  width: 100%;
  position: relative;
}
@media (590px > width) {
  header .nav-container {
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 40px;
  }
  header .nav-container .navigation {
    text-transform: uppercase;
    margin-left: -5%;
  }
  header .nav-container .navigation ul {
    max-width: 100%;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 8px;
  }
  header .nav-container .navigation li {
    display: inline-flex;
    margin-right: 10px;
  }
  header .nav-container .navigation a {
    -webkit-text-decoration: overline 1px rgba(255, 255, 255, 0.5);
            text-decoration: overline 1px rgba(255, 255, 255, 0.5);
    font-weight: 450;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    padding: 4px 5px 4px 5px;
  }
  header .nav-container .navigation a:hover {
    color: #969696;
  }
  header .nav-container .navigation a.active {
    letter-spacing: 2px;
    -webkit-text-decoration: underline overline 1.3px rgba(255, 255, 255, 0.8);
            text-decoration: underline overline 1.3px rgba(255, 255, 255, 0.8);
    text-underline-offset: 4px;
    text-shadow: rgba(0, 0, 0, 0.6) 3px 0 4px;
  }
}
@media (width > 590px) {
  header .nav-container {
    top: 50px;
  }
  header .nav-container .navigation {
    max-height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  header .nav-container .navigation ul {
    list-style: none;
    display: flex;
    padding: 10px;
  }
  header .nav-container .navigation ul li {
    margin: 15px;
  }
  header .nav-container .navigation a {
    margin: auto;
    -webkit-text-decoration: overline 1px;
            text-decoration: overline 1px;
    font-weight: 450;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
  }
  header .nav-container .navigation a:hover {
    color: #969696;
  }
  header .nav-container .navigation a.active {
    letter-spacing: 3px;
    -webkit-text-decoration: underline overline 2px;
            text-decoration: underline overline 2px;
    text-decoration-color: rgba(255, 255, 255, 0.8);
    text-underline-offset: 7px;
    text-shadow: rgba(0, 0, 0, 0.6) 3px 0 4px;
  }
}
header .login-btn {
  position: absolute;
  text-transform: uppercase;
  color: #455950;
}
@media (590px > width) {
  header .login-btn {
    top: 5px;
    right: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    border: 1px solid;
    padding: 3px;
  }
  header .login-btn:hover {
    color: #969696;
  }
}
@media (width > 590px) {
  header .login-btn {
    top: 5px;
    right: 12%;
    text-decoration: none;
    font-weight: 700;
    font-size: x-large;
    letter-spacing: 3px;
    border: 2px solid;
    padding: 4px;
    color: #455950;
  }
  header .login-btn:hover {
    color: #969696;
  }
}

body.home-page {
  background-color: white;
  height: 100vh;
  width: 100%;
  margin: 0px;
  font-family: "Karla", Arial, Helvetica;
}
@media (width > 590px) {
  body.home-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
body.home-page main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (width > 590px) {
  body.home-page main .img-desktop {
    width: 100%;
    height: 427px;
  }
}
body.home-page main .img-desktop .img-wrap img.responsive {
  max-width: 100%;
  height: 427px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (width > 590px) {
  body.home-page main .img-desktop .img-wrap img.responsive {
    width: 100%;
    height: 427px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (width > 590px) {
  body.home-page main .desktop-view {
    width: 640px;
  }
}
body.home-page main .desktop-view h1 {
  color: #455950;
  margin-top: 10px;
}
body.home-page main .desktop-view .sell-text {
  margin: 0px 40px;
}
body.home-page main .desktop-view .sell-text p {
  margin: 10px 0px 0px 0px;
}
body.home-page main .desktop-view .vision-text-vip {
  border-left: 10px solid #455950;
  border-right: 10px solid #455950;
  padding: 20px 40px;
  margin: 40px;
}
body.home-page main .desktop-view .vision-text-vip q {
  color: #455950;
  font-size: larger;
  font-weight: bold;
}
body.home-page main .desktop-view .vision-text-vip p {
  text-align: end;
  color: #455950;
  font-style: italic;
  margin-top: 10px;
}
body.home-page .google-apple-store {
  display: flex;
  justify-content: center;
  gap: 10px;
}
body.home-page .google-apple-store img {
  height: 58.5px;
  margin-top: 20px;
}
body.home-page .trial {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0px 20px 0px;
}
@media (width > 590px) {
  body.home-page .trial {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 640px;
    margin: 0 px 200px;
  }
}
body.home-page .trial h2 {
  color: #455950;
  text-align: center;
  margin: 20px 40px 10px 40px;
}
body.home-page .trial .cta-button {
  background: #455950;
  border: 0px;
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin: 10px 40px;
  font-weight: bold;
  font-size: 16px;
}
body.home-page form {
  justify-content: center;
  margin: 40px 0px;
}
@media (width > 590px) {
  body.home-page form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 200px;
    max-width: 640px;
  }
}
body.home-page .newsletter-container {
  padding: 0px 40px;
  color: #455950;
}
@media (width > 590px) {
  body.home-page .newsletter-container {
    padding: 0px;
    width: 640px;
  }
}
body.home-page .newsletter-container h2 {
  text-align: center;
  margin: 10px 0px;
}
body.home-page input[type=text], body.home-page input[type=submit] {
  width: 100%;
  padding: 20px 40px;
  margin: 10px 0;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 8px;
}
body.home-page input[type=submit] {
  background-color: #455950;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}
body.home-page aside {
  margin-top: 20px;
}
body.home-page aside h2 {
  color: #455950;
  text-align: center;
}
body.home-page aside .customer-reviews-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid #455950;
  margin: 20px 100px 40px 100px;
  border-radius: 8px;
  padding: 20px;
  gap: 20px;
}
@media (width > 590px) {
  body.home-page aside .customer-reviews-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 640px;
  }
}
body.home-page aside .customer-reviews-container img {
  width: 186px;
}
@media (width > 590px) {
  body.home-page aside .customer-reviews-container img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 185px;
  }
}

body.about-page {
  background-color: white;
  height: 100vh;
  width: 100%;
  margin: 0px;
  font-family: "Karla", Helvetica, sans-serif;
}
@media (width > 590px) {
  body.about-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
body.about-page main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (width > 590px) {
  body.about-page main .img-wrap {
    display: flex;
    justify-content: center;
    width: 640px;
    height: auto;
  }
}
body.about-page main .img-wrap img {
  max-width: 100%;
  height: 287px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (width > 590px) {
  body.about-page main .img-wrap img {
    width: 640px;
    height: auto;
  }
}
body.about-page main .about-text {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 40px 40px 40px;
}
body.about-page main .about-text h1 {
  color: #455950;
  margin-top: 10px;
}
body.about-page main .about-text h2 {
  color: #455950;
  margin: 10px 0px 0px 0px;
}
body.about-page main .about-text h3 {
  color: #455950;
  margin: 10px 0px 0px 0px;
}
body.about-page main .about-text p {
  margin-top: 10px;
}
@media (width > 590px) {
  body.about-page main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 640px;
  }
}
body.about-page .staff-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #455950;
  padding: 0px 0px 0px 0px;
  gap: 20px;
}
@media (width > 590px) {
  body.about-page .staff-container {
    display: flex;
    align-items: center;
    min-width: 100%;
  }
}
body.about-page .staff-container .staff-h2 {
  display: flex;
  flex-direction: column;
}
body.about-page .staff-container h2 {
  color: white;
}
body.about-page .staff-container .staff {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
@media (width > 590px) {
  body.about-page .staff-container .staff {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 260px;
  }
}
body.about-page .staff-container .staff .staff-one, body.about-page .staff-container .staff .staff-two, body.about-page .staff-container .staff .staff-three, body.about-page .staff-container .staff .staff-four, body.about-page .staff-container .staff .staff-five, body.about-page .staff-container .staff .staff-six {
  background: white;
  padding: 10px;
  width: 200px;
  height: auto;
}
body.about-page .staff-container .staff .staff-one img, body.about-page .staff-container .staff .staff-two img, body.about-page .staff-container .staff .staff-three img, body.about-page .staff-container .staff .staff-four img, body.about-page .staff-container .staff .staff-five img, body.about-page .staff-container .staff .staff-six img {
  width: 200px;
  height: 200px;
}
body.about-page .staff-container .staff .staff-one h3, body.about-page .staff-container .staff .staff-one h4, body.about-page .staff-container .staff .staff-two h3, body.about-page .staff-container .staff .staff-two h4, body.about-page .staff-container .staff .staff-three h3, body.about-page .staff-container .staff .staff-three h4, body.about-page .staff-container .staff .staff-four h3, body.about-page .staff-container .staff .staff-four h4, body.about-page .staff-container .staff .staff-five h3, body.about-page .staff-container .staff .staff-five h4, body.about-page .staff-container .staff .staff-six h3, body.about-page .staff-container .staff .staff-six h4 {
  margin-top: 10px;
  color: #455950;
}
body.about-page .staff-container .staff .staff-one p, body.about-page .staff-container .staff .staff-two p, body.about-page .staff-container .staff .staff-three p, body.about-page .staff-container .staff .staff-four p, body.about-page .staff-container .staff .staff-five p, body.about-page .staff-container .staff .staff-six p {
  margin-top: 10px;
  color: black;
}

/* SKA SLÄNGA SEN - Bara har min ursprungskod här medan jag rensar upp scss'en */
body.services-page {
  /* Plocka ifran  */
  /* }
  mobile {
  @media ( 590px > width ){
      @content
  }
  }  */
  /* @media   (width > 590px) {
      max-width 640px *
  }


  /*
  @media ( 590px > width ){

  }




  @media desktop {
  @media ( width > 590px ){


  }
  } */
}
body.services-page main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media desktop {
  body.services-page main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 640px;
  }
}
@media (width > 590px) {
  body.services-page main {
    display: grid;
    flex-direction: column;
    justify-items: center;
    max-width: 640px;
  }
  body.services-page .content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (width > 590px) and (width > 590px) {
  body.services-page .content-wrap .service-wrap {
    display: grid;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    max-width: 640px;
    padding: 10px 40px 40px 40px;
    /* padding-left: 100px; */
  }
}
@media (width > 590px) and (width > 590px) {
  body.services-page .content-wrap .pricing-plan {
    display: grid;
    flex-direction: column;
    justify-items: center;
    max-width: 640px;
  }
}
@media (width > 590px) and (width > 590px) and (590px > width) {
  body.services-page .content-wrap .service-wrap {
    display: grid;
    flex-direction: column;
    justify-items: center;
    max-width: 640px;
  }
}
@media (width > 590px) and (width > 590px) and (590px > width) {
  body.services-page .content-wrap {
    /* .free-trial {
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        } */
  }
  body.services-page .content-wrap .pricing-plan {
    display: grid;
    flex-direction: column;
    justify-items: center;
    max-width: 640px;
  }
  body.services-page .content-wrap h1 {
    font-size: 1.8em;
    margin: 20px 0;
  }
  body.services-page .content-wrap h2 {
    font-size: 1.4em;
  }
}
body.services-page body.services-page {
  background-color: white;
  height: auto;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  /* media eller include? */
}
@media (590px > width) {
  body.services-page body.services-page .service-wrap {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  body.services-page body.services-page .button {
    width: 100%;
    font-size: 14px;
  }
  body.services-page body.services-page h1 {
    font-size: 1.8em;
    margin: 20px 0;
  }
  body.services-page body.services-page h2 {
    font-size: 1.4em;
  }
  body.services-page body.services-page .pricing-plan {
    padding: 20px;
  }
}
@media (width > 590px) {
  body.services-page body.services-page .service-wrap {
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    max-width: 0 auto;
  }
  body.services-page body.services-page .button {
    width: auto;
    font-size: 16px;
  }
  body.services-page body.services-page h1 {
    font-size: 2.5em;
    margin: 40px 0;
  }
  body.services-page body.services-page h2 {
    font-size: 1.8em;
  }
  body.services-page body.services-page .pricing-plan {
    padding: 40px;
    max-width: 1000px;
  }
}
body.services-page body.services-page .button {
  background-color: #455950;
  border: 3px solid #455950;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 9px;
  margin-bottom: 20px;
  margin-top: 40px;
  /* .free-trial {
      display: block;
      justify-content: center;
      } */
}
body.services-page body.services-page .button:hover {
  background-color: white;
  color: #455950;
}
body.services-page body.services-page .sub {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin: 20px;
}
@media (590px > width) {
  body.services-page body.services-page .sub {
    justify-content: center;
    padding: 20px;
  }
}
@media (width > 590px) {
  body.services-page body.services-page .sub {
    justify-content: flex-end;
    padding: 20px;
  }
}
body.services-page body.services-page .pricing-plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  /* När löste det sig att "Plan" och pris hamnade p samma rad - för iphone 14/mobil*/
}
@media (590px > width) {
  body.services-page body.services-page .pricing-plan {
    flex-direction: column;
    padding: 20px;
  }
}
@media (width > 590px) {
  body.services-page body.services-page .pricing-plan {
    flex-direction: column;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }
}
body.services-page body.services-page h1, body.services-page body.services-page h2, body.services-page body.services-page h3 {
  color: #455950;
  text-align: center;
}
@media (590px > width) {
  body.services-page body.services-page h1, body.services-page body.services-page h2, body.services-page body.services-page h3 {
    margin: 20px 0;
  }
}
@media (width > 590px) {
  body.services-page body.services-page h1, body.services-page body.services-page h2, body.services-page body.services-page h3 {
    margin: 40px 0;
  }
}
body.services-page body.services-page p {
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  margin: 10px 0;
  padding: 8px;
  line-height: 1.5;
}
@media (590px > width) {
  body.services-page body.services-page p {
    text-align: left;
    padding: 10px;
  }
}
@media (width > 590px) {
  body.services-page body.services-page p {
    text-align: center;
    padding: 15px;
  }
}
body.services-page body.services-page li {
  color: black;
  margin: 10px 0;
}
@media (width < 350px) {
  body.services-page .store {
    display: grid;
    max-width: auto;
  }
  body.services-page .copyright {
    font-size: 0.85rem;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media desktop {
  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 640px;
  }
}

@media (width > 590px) {
  main {
    display: grid;
    flex-direction: column;
    justify-items: center;
    max-width: 640px;
  }
  .content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (width > 590px) and (width > 590px) {
  .content-wrap .service-wrap {
    display: grid;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    max-width: 640px;
    padding: 10px 40px 40px 40px;
    /* padding-left: 100px; */
  }
}
@media (width > 590px) and (width > 590px) {
  .content-wrap .pricing-plan {
    display: grid;
    flex-direction: column;
    justify-items: center;
    max-width: 640px;
  }
}
@media (width > 590px) and (width > 590px) and (590px > width) {
  .content-wrap .service-wrap {
    display: grid;
    flex-direction: column;
    justify-items: center;
    max-width: 640px;
  }
}
@media (width > 590px) and (width > 590px) and (590px > width) {
  .content-wrap {
    /* .free-trial {
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        } */
  }
  .content-wrap .pricing-plan {
    display: grid;
    flex-direction: column;
    justify-items: center;
    max-width: 640px;
  }
  .content-wrap h1 {
    font-size: 1.8em;
    margin: 20px 0;
  }
  .content-wrap h2 {
    font-size: 1.4em;
  }
}
/* Plocka ifran  */
body.services-page {
  background-color: white;
  height: auto;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  /* media eller include? */
}
@media (590px > width) {
  body.services-page .service-wrap {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  body.services-page .button {
    width: 100%;
    font-size: 14px;
  }
  body.services-page h1 {
    font-size: 1.8em;
    margin: 20px 0;
  }
  body.services-page h2 {
    font-size: 1.4em;
  }
  body.services-page .pricing-plan {
    padding: 20px;
  }
}
@media (width > 590px) {
  body.services-page .service-wrap {
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    max-width: 0 auto;
  }
  body.services-page .button {
    width: auto;
    font-size: 16px;
  }
  body.services-page h1 {
    font-size: 2.5em;
    margin: 40px 0;
  }
  body.services-page h2 {
    font-size: 1.8em;
  }
  body.services-page .pricing-plan {
    padding: 40px;
    max-width: 1000px;
  }
}
body.services-page .button {
  background-color: #455950;
  border: 3px solid #455950;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 9px;
  margin-bottom: 20px;
  margin-top: 40px;
  /* .free-trial {
      display: block;
      justify-content: center;
      } */
}
body.services-page .button:hover {
  background-color: white;
  color: #455950;
}
body.services-page .sub {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin: 20px;
}
@media (590px > width) {
  body.services-page .sub {
    justify-content: center;
    padding: 20px;
  }
}
@media (width > 590px) {
  body.services-page .sub {
    justify-content: flex-end;
    padding: 20px;
  }
}
body.services-page .pricing-plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  /* När löste det sig att "Plan" och pris hamnade p samma rad - för iphone 14/mobil*/
}
@media (590px > width) {
  body.services-page .pricing-plan {
    flex-direction: column;
    padding: 20px;
  }
}
@media (width > 590px) {
  body.services-page .pricing-plan {
    flex-direction: column;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }
}
body.services-page h1, body.services-page h2, body.services-page h3 {
  color: #455950;
  text-align: center;
}
@media (590px > width) {
  body.services-page h1, body.services-page h2, body.services-page h3 {
    margin: 20px 0;
  }
}
@media (width > 590px) {
  body.services-page h1, body.services-page h2, body.services-page h3 {
    margin: 40px 0;
  }
}
body.services-page p {
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  margin: 10px 0;
  padding: 8px;
  line-height: 1.5;
}
@media (590px > width) {
  body.services-page p {
    text-align: left;
    padding: 10px;
  }
}
@media (width > 590px) {
  body.services-page p {
    text-align: center;
    padding: 15px;
  }
}
body.services-page li {
  color: black;
  margin: 10px 0;
}

@media (width < 350px) {
  .store {
    display: grid;
    max-width: auto;
  }
  .copyright {
    font-size: 0.85rem;
  }
}
/* }
mobile {
@media ( 590px > width ){
    @content
}
}  */
/* @media   (width > 590px) {
    max-width 640px *
}


/*
@media ( 590px > width ){

}




@media desktop {
@media ( width > 590px ){


}
} */
body.reviews-page {
  background-color: white;
  height: 100vh;
  width: 100%;
  margin: 0px;
  font-family: "Karla", Arial, Helvetica;
}
body.reviews-page .reviews-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px;
  gap: 20px;
}
@media (width > 590px) {
  body.reviews-page .reviews-container {
    display: flex;
    justify-content: center;
    width: 640px;
    margin: auto;
  }
}
body.reviews-page .reviews-container .h1-wrap {
  display: flex;
  justify-content: flex-start;
}
body.reviews-page .reviews-container .h1-wrap h1 {
  color: #455950;
  text-align: center;
  margin: 0px;
}
body.reviews-page .reviews-container h2 {
  color: white;
  margin-bottom: 10px;
}
body.reviews-page .reviews-container .stars {
  color: rgb(210, 185, 0);
}
body.reviews-page .reviews-container .review-one, body.reviews-page .reviews-container .review-two, body.reviews-page .reviews-container .review-three, body.reviews-page .reviews-container .review-four, body.reviews-page .reviews-container .review-five {
  background: #455950;
  color: white;
  border-radius: 8px;
  padding: 20px;
}
body.reviews-page aside h2 {
  color: #455950;
  text-align: center;
  margin: 0px 0px 10px 0px;
}
body.reviews-page aside .customer-reviews-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid #455950;
  margin: 20px 100px 40px 100px;
  border-radius: 8px;
  padding: 20px;
  gap: 20px;
}
@media (width > 590px) {
  body.reviews-page aside .customer-reviews-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 640px;
    margin: auto;
  }
}
body.reviews-page aside .customer-reviews-container img {
  width: 186px;
}
@media (width > 590px) {
  body.reviews-page aside .customer-reviews-container img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 185px;
  }
}

body.sign-in-page {
  background-color: white;
  height: 100vh;
  width: 100%;
  margin: 0px;
  font-family: "Karla", Arial, Helvetica;
}
@media (width > 590px) {
  body.sign-in-page main {
    max-width: 640px;
    margin: auto;
  }
}
body.sign-in-page main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
body.sign-in-page main form .login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border-color: #455950;
  padding: 80px 40px;
  gap: 10px;
}
body.sign-in-page main form .login-container h1 {
  color: #455950;
  margin-bottom: 10px;
}
body.sign-in-page main form .login-container label {
  color: #455950;
  font-weight: bold;
  font-size: 20px;
}
body.sign-in-page main form .login-container .username-password {
  border-radius: 8px;
  padding: 20px;
  gap: 10px;
}
body.sign-in-page main form .login-container button {
  color: white;
  background: #455950;
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0px;
  padding: 20px;
  border-radius: 8px;
}
body.sign-in-page main form .login-container .checkbox {
  color: black;
  font-size: medium;
  text-align: center;
}
body.sign-in-page main form .login-container .forgot-password {
  margin-top: 10px;
}
body.sign-in-page main form .login-container .forgot-password p {
  font-size: medium;
  text-align: center;
}

footer {
  background-color: #455950;
  color: white;
  width: 100%;
  padding: 10px;
  font-family: "Karla", Helvetica, sans-serif;
}
footer .fot-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
footer .fot-parent .fot-container {
  display: flex;
  flex-direction: column; /* för mobiler */
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  footer .fot-parent .fot-container {
    flex-direction: row;
    justify-content: space-between; /* gör lite luftigare*/
  }
}
footer .fot-parent .fot-container .fot-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: 5px;
  list-style: none;
  line-height: 1.5;
}
footer .fot-parent .fot-container .fot-menu .fot, footer .fot-parent .fot-container .fot-menu a {
  list-style: none;
  color: white;
  text-decoration: none;
  width: 100%;
}
footer .fot-parent .fot-container .fot-menu-child-1, footer .fot-parent .fot-container .fot-menu-child-2, footer .fot-parent .fot-container .fot-menu-child-3, footer .fot-parent .fot-container .fot-menu-child-4 {
  padding: 5px;
}
@media (min-width: 768px) {
  footer .fot-parent .fot-container .fot-menu {
    flex-direction: row;
    justify-content: flex-end;
  }
}
footer .fot-parent .fot-container .fot-btn {
  color: #455950;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
footer .fot-parent .fot-container .fot-btn button {
  width: auto;
  border-radius: 15px;
  padding-left: 12px;
  padding-right: 10px;
  margin: 15px;
}
footer .fot-parent .fot-container .fot-btn input {
  background-color: #455950;
  width: auto;
  border-radius: 15px;
  margin-inline-start: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (min-width: 768px) {
  footer .fot-parent .fot-container .fot-btn {
    flex-direction: row;
    justify-content: flex-end;
  }
}
footer .fot-parent .sign-in {
  padding-top: 10px;
}
footer .fot-parent .sign-in button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding: 5px;
  border-radius: 12px;
}
footer .fot-parent .horizontal-line {
  width: 90%;
  height: 2px;
  background-color: white;
  margin: 20px 0;
  color: white;
}
footer .fot-parent .fot-end {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
}
@media (max-width: 365px) {
  footer .fot-parent {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}
footer .fot-parent .store {
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-top: 10px;
}
footer .fot-parent .copyright {
  display: flex;
  justify-content: center;
  color: white;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 15px;
}
footer .fotlog img {
  content: url("partials/media/430_px_maindful-logo.png");
}
@media (max-width: 441px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .fotlog img {
    content: url("partials/media/square_maindful-logo.png");
  }
}/*# sourceMappingURL=styles.css.map */